/* 
* Design by Robert Mayer:https://goo.gl/CJ7yC8
*
*I intentionally left out the line that was supposed to be below the subheader simply because I don't like how it looks.
*
* Chronicle Display Roman font was substituted for similar fonts from Google Fonts.
*/

body {
    background-color: #fdf1ec;
  }
  
  .wrapper {
    height: 500px;
    width: 800px;
    margin: 50px auto;
    border-radius: 7px 7px 7px 7px;
    /* VIA CSS MATIC https://goo.gl/cIbnS */
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  }
  
  .product-img {
    float: left;
    height: 453px;
    width: 327px;
    object-fit: cover;
    
  }
  
  .product-img img {
    border-radius: 7px 0 0 7px;
  }
  
  .product-info {
    float: left;
    height: 453px;
    width: 327px;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff;
  }
  
  .product-text {
    height: 450px;
    width: 327px;
  }
  
  .product-text h1 {
    margin: 0 0 0 38px;
    padding-top: 20px;
    font-size: 34px;
    color: #474747;
  }
  
  .product-text h1,
  .product-price-btn p {
    font-family: 'Bentham', serif;
  }
  
  .product-text h2 {
    margin: 0 0 47px 38px;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #d2d2d2;
    letter-spacing: 0.2em;
  }
  
  .product-text p {
    padding-top: 20px;
    height: auto;
    margin: 0 0 0 38px;
    font-family: 'Playfair Display', serif;
    color: #8d8d8d;
    line-height: 1.7em;
    font-size: 15px;
    font-weight: lighter;
    overflow: hidden;
  }
  
  
  
  
  
  span {
    display: inline-block;
    height: 50px;
    font-family: 'Suranna', serif;
    font-size: 34px;
  }
  
  


  ul {
    margin: 0px;
    padding: 0px;
  }
  
  .footer-section {
    background: #151414;
    position: relative;
  }
  
  .footer-cta {
    border-bottom: 1px solid #373636;
  }
  
  .single-cta i {
    color: #335b19;
    font-size: 30px;
    float: left;
    margin-top: 8px;
  }
  
  .cta-text {
    padding-left: 15px;
    display: inline-block;
  }
  
  .cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
  }
  
  .cta-text span {
    color: #757575;
    font-size: 15px;
  }
  
  .footer-content {
    position: relative;
    z-index: 2;
  }
  
  .footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
  }
  
  .footer-logo {
    margin-bottom: 30px;
  }
  
  .footer-logo img {
    max-width: 200px;
  }
  
  .footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
  }
  
  .footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
  }
  
  .footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
  }
  
  .footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
  }
  
  .facebook-bg {
    background: #3B5998;
  }
  
  .twitter-bg {
    background: #55ACEE;
  }
  
  .google-bg {
    background: #335b19;
  }
  
  .footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
  }
  
  .footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #335b19;
  }
  
  .footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
  }
  
  .footer-widget ul li a:hover {
    color: #335b19;
  }
  
  .footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
  }
  
  .subscribe-form {
    position: relative;
    overflow: hidden;
  }
  
  .subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
  }
  
  .subscribe-form button {
    position: absolute;
    right: 0;
    background: #335b19;
    padding: 13px 20px;
    border: 1px solid #335b19;
    top: 0;
  }
  
  .subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
  }
  
  .copyright-area {
    background: #202020;
    padding: 25px 0;
  }
  
  .copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
  }
  
  .copyright-text p a {
    color: #335b19;
  }
  
  .footer-menu li {
    display: inline-block;
    margin-left: 20px;
  }
  
  .footer-menu li:hover a {
    color: #335b19;
  }
  
  .footer-menu li a {
    font-size: 14px;
    color: #878787;
  }
  
  .copyright {
    padding: 15px 40px 30px;
    background-color: #262526;
  }
  
  .copyright .svg-up {
    top: 0;
    left: 50%;
    margin-left: -96px;
    margin-top: -50px;
  }
  
  .copyright .arrow-up {
    width: 40px;
    height: 30px;
    top: -45px;
    color: #fff;
    line-height: 1.9
  }
  
  .copyright ul {
    justify-content: center;
  }
  
  .copyright li {
    color: #919191;
    font-size: 14px;
  }
  
  .copyright li:not(:last-of-type):after {
    content: '•';
    margin: 10px;
  }
  
  .copyright .CTA {
    margin-top: 25px;
  }
  
  .copyright .CTA li a {
    color: #919191;
  }